<!DOCTYPE html>
<html>
  <head>
    <title>SpotifyRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="stripe-pk" content="<%= Rails.application.credentials.dig(:stripe, :pk) %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-b from-blue-800 to-purple-300 <%= "pt-14" if !current_artist %>">
    <%= render "layouts/navbar" if !current_artist %>
    <%= render "layouts/alerts" %>
    <%= yield %>
    <div id="audio-player" class="fixed bottom-0 w-full">
    </div>
  </body>
</html>
